*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* class utility */
.container{
  width: 80%;
  margin: auto;
}

.float_left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* /class utility */

/* header */
header{
  background: #0C325A;
}

/* nav */
nav{
  height: 80px;
  line-height: 80px;
}

.logo{
  width: 15%;
  margin-top: 10px;
}

.menu_left{
  width: 50%;
}

.menu_right{
  width: 35%;
  text-align: right;
}

.menu_left a, .menu_right a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 10px;
  margin: 0 5px;
}

#btn_cb{
  border: 2px solid white;
  padding: 10px 25px;
  border-radius: 7px;
}

.menu_right a.btn_cs{
  background: #7CBB02;
  margin: 0 10px;
  padding: 10px 12px;
  border-radius: 7px;
}

/* /nav */

/* div.background_image */
.background_image{
  height: 500px;
}

div.box{
  height: 500px;
  position: relative;
}

div.text{
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div.text h1{
  font-size: 3.5em;
  font-weight: 500;
  margin-bottom: 50px;
}

.text a.btn_cs{
  background: #7CBB02;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 15px;
  border-radius: 7px;
}

.background_image{
  background-image: url('../img/banner_header.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
/* /div.background_image */

/* main */
/* main_header */
.main_header
{
  height: 120px;
  background: #D3D3D3;
}
.main_header h2{
  text-align: center;
  padding-top: 30px;
}

.main_header h3{
  text-align: center;
  color: grey;
  padding-top: 5px;
}
/* /main_header */

/* main row1 */
.box_main1{
  width: calc(100% / 3);
  height: 600px;
  text-align: center;
}

#profilo, #doc{
  width: 40%;
  height: 265px;
  padding-top: 50px;
}

#computer{
  width: 65%;
  height: 265px;
  padding-top: 50px;
}

.box_main1 h2{
  font-size: 1.5em;
  color: #7CBB02;
  padding: 25px 15px;
}

.box_main1 hr{
  width: 30%;
  margin: auto;
}

.box_main1 p{
  font-size: 18px;
  padding: 25px 15px;
  line-height: 1.5em;
  color: grey;
}
/* /main row1 */

/* main row2 */
.box_main2{
  width: calc(100% / 2);
  height: 600px;
  padding: 50px;
}

.box_main2 h2{
  font-weight: 500;
  font-size: 2.5em;
}

.box_main2 p{
  font-size: 1.5em;
  padding: 25px 0;
  line-height: 1.5em;
  color: grey;
}

.box_main2 a{
  color: blue;
}
/* /main row2 */
/* /main */

/* footer */
footer{
  height: 200px;
  background: #D3D3D3;
}

.box_footer1{
  
}

footer h2{
  font-weight: 500;
  font-size: 2.5em;
  line-height: 200px;
}
